@media (min-width: 1164px) {
}
@media (min-width: 1024px) and (max-width: 1163.5px) {
  .status {
    left: 62%;
    transform: translateY(-50%);
  }
}
@media (min-width: 796px) and (max-width: 1023px) {
  .status {
    left: 63%;
    transform: translateY(-45%);
  }
}
@media (min-width: 767px) and (max-width: 795px) {
  
  .status {
    left: 47%;
    transform: translateY(-45%);
  }
}
@media (min-width: 686px) and (max-width: 766px) {
  .price-header {
    padding: 20px 0px;
  }
  .price-header h3 {
    font-size: 24px;
  }
  .price-header pre {
    font-size: 14px;
    padding: 0px 25px 0px 25px;
  }
  .price-desc p {
    font-size: 22px;
  }
  ul li {
    font-size: 14px;
  }
  .header-ultimate {
    padding: 15px 0px 15px 0px;
  }
  .header-ultimate pre {
    font-size: 17px;
  }
  .header-ultimate p {
    line-height: 24.6px;
  }
  .price-col:hover .price-header {
    padding-top: 30px;
    cursor: pointer;
  }
  .status {
    left: 45%;
    transform: translateY(-45%);
  }
  .status {
    left: 47%;
    transform: translateY(-45%);
  }
}
@media screen and (max-width: 685px) {
  .price-header {
    padding: 20px 0px;
  }
  .price-header h3 {
    font-size: 24px;
  }
  .price-header pre {
    font-size: 14px;
    padding: 0px 25px 0px 25px;
  }
  .price-desc p {
    font-size: 22px;
  }
  ul li {
    font-size: 14px;
  }
  .header-ultimate {
    padding: 15px 0px 15px 0px;
  }
  .header-ultimate pre {
    font-size: 17px;
  }
  .header-ultimate p {
    line-height: 24.6px;
  }
  .price-col:hover .price-header {
    padding-top: 30px;
    cursor: pointer;
  }
  .status {
    left: 45%;
    transform: translateY(-45%);
  }
}
